# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

**/.idea
**/.gradle

gradle-proj/gradle/*
gradle-proj/out/*
gradle-proj/src/*
gradle-proj/build/*

gradle-proj/.gradle/*
